<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>플랜포유</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link rel="stylesheet" href="/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/script/main.js"></script>
<script th:inline="javascript">
	const msg = [[${msg}]]
	$(document).ready(()=>{
		if(msg!=null) {
			$("#msg").css("display","block");
			$("#msg_span").text(msg);
		}
	});
</script>
</head>
<body>
<div id="page">
	<header id="header" th:replace="/fragments/header">
	</header>
	<nav id="nav" th:replace="/fragments/nav">
	</nav>
	<div id="main">
		<aside th:replace="/fragments/aside">
		</aside>
		<section id="section">
			<div class="alert alert-danger" style="display:none;" id="msg">
  				<strong>작업 실패 </strong> <span id="msg_span"></span>
			</div>
			<h1>플랜포유 메인</h1>
			<ul>
				<br><li><a href="/test1">모든 사용자</a></li><br>
				<li><a href="/admin/test2">관리자 전용(경로)</a></li><br>
				<li><a href="/test3">사용자 전용(권한)</a></li>
			</ul>
		</section>
	</div>
	<footer id="footer" th:replace="/fragments/footer">
	</footer>
</div>
</body>
</html>