<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/script/main.js"></script>
<script sec:authorize="isAuthenticated()" src="/script/websocket.js"></script>
<script>
	// 서버에서 수신할 사용자 정보
	let member = undefined;
	
	const printPage=()=>{
		console.log(member);
		$("#userirum").text(member.userirum);
		$("#useremail").text(member.useremail);
		
	}	
	
	
	
	$(document).ready(()=>{
		// html이 로딩되면 서버에 멤버 정보를 요청
		$.ajax("/member/view/myinfo").done(result=>{
			// 멤버 정보 저장
			member = result;
			// 출력
			printPage();
		});
		
		$("#activateChangePwd").on("click", ()=>{
			$("#pwdArea").toggle();		// hide(), show(), toggle()
		});
		
		// 비밀번호 변경
		$("#changePwd").on("click", ()=>{
			const $password = $("#password").val();
			const $newPassword = $("#newPassword").val();
			const $newPassword2 = $("#newPassword2").val();
			
			const pattern = /^(?=.*[!@#$%^&*])^[A-Za-z0-9!@#$%^&*]{8,10}$/;
			
			if(pattern.test($password)==false) 
				return false;
			if(pattern.test($newPassword)==false)
				return false;
			if($newPassword!=$newPassword2)
				return false;
			
			const params= {
					_method: "put",
					password: $password,
					newPassword: $newPassword
			};
			
			$.ajax({
				url: "/member/view/myinfo",
				method: "post",
				data: params
			}).done(()=>Swal.fire("변경","비밀번호를 변경했습니다", "success"))
				.fail(()=>Swal.fire("변경 실패", "비밀번호를 변경하지 못했습니다", "error"));
			
		});
		
		// 전체 변경
		$("#update").on("click", ()=>{
			const formData = new FormData();
			
			const $password = $("#password").val();
			const $newPassword = $("#newPassword").val();
			const $newPassword2 = $("#newPassword2").val();
			
			const pattern = /^(?=.*[!@#$%^&*])^[A-Za-z0-9!@#$%^&*]{8,10}$/;
			
			if(pattern.test($password)==true && pattern.test($newPassword)==true && $newPassword==$newPassword2) {
				formData.append("password", $password);
				formData.append("newPassword", $newPassword);
			} 
			
			$.ajax({
				url: "/member/view/myinfo",
				method: "post",
				data: formData,
				processData:  false,
				contentType: false
			}).done(()=>Swal.fire("변경","회원 정보를 변경했습니다", "success"))
				.fail(()=>Swal.fire("변경 실패", "회원 정보를 변경하지 못했습니다", "error"));
		});
		
		$("#resign").on("click", ()=>{
			$.ajax({
				url: "/member/view/myinfo",
				method : "delete"
			}).fail(()=>Swal.fire("삭제 실패", "회원 정보를 삭제하지 못했습니다", "error"));
		});
	})
</script>
</head>
<body>
<div th:text="${member}"></div>
<div id="page">
	<header id="header" th:replace="/fragments/header">
	</header>
	<nav id="nav" th:replace="/fragments/nav">
	</nav>
	<div id="main">
		<aside id="aside" th:replace="/fragments/aside">
		</aside>
		<section id="section">
			<table class="table table-hover">
				<colgroup>
					<col width="30%">
					<col width="70%">
				</colgroup>
				<tr>
					<td class="first">이름</td>
					<td id="userirum"></td>
				</tr>
				<tr>
					<td class="first">이메일</td>
					<td id="useremail"></td>
				</tr>
				<tr><td class="first">비밀번호</td>
					<td colspan="2">
						<button type="button" class="btn btn-info" id="activateChangePwd">비밀번호 수정</button>
						<div id="pwdArea">
							<span class="key">현재 비밀번호 : </span><input type="password" id="password"><br>
							<span class="key">새 비밀번호 : </span><input type="password" id="newPassword"><br>
							<span class="key">새 비밀번호 확인 : </span><input type="password" id="newPassword2">
			  				<button type="button" class="btn btn-info" id="changePwd">변경</button>
						</div>
					</td></tr>
				
				<tr>
					<td class="first">회원정보</td>
			</table>
			<button type="button" class="btn btn-success" id="update">변경하기</button>&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" class="btn btn-success" id="resign">탈퇴하기</button>
		</section>
	</div>
	<footer id="footer" th:replace="/fragments/footer">
	</footer>
</div>
</body>
</html>